header{
  position: absolute;
  top: 0%;
  background-color: azure;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(240, 250, 241);
}

.stick-figure {
  width: 100px;
  height: 200px;
  position: relative;
  margin-left: 5rem;
  border: solid black 5px;
  
}

.stick-figure div {
  background-color: black;
  position: absolute;
}

.head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0;
  left: 28%;
}

.body {
  width: 25px;
  height: 85px;
  top: 50px;
  left: 40%;
  
}
.arm {
  width: 60px;
  height: 13px;
}
.leg {
  width: 60px;
  height: 15px;
}

.left-arm {
  top: 50px;
  right: 50%;
  transform: rotate(-30deg);
  transform-origin: top right;
}

.right-arm {
  top: 50px;
  left: 50px;
  transform: rotate(30deg);
  transform-origin: top left;
}

.left-leg {
  top: 135px;
  left: 50%;
  transform: rotate(-230deg);
  transform-origin: top left;
}

.right-leg {
  top: 135px;
  right: 50%;
  transform: rotate(230deg);
  transform-origin: top right;
}

.slidecontainer {
  border: 5px solid black;
  border-radius: 30px;
  padding: 10px 10px;
}

footer {
  position: absolute;
  bottom: 0%;
  background-color: azure;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5rem;
  align-items: center;
  
}